*{
    margin: 0 auto;
    border: 0px;
}
.cabeza{
    background-color: rgb(190, 226, 190);
    color: rgb(68, 158, 241);
    height: 70px;
    padding-top: 13px;
    font-size: 25px;
}
.cabeza2{
    border-top: black solid 1px;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 10px;
    font-size: 30px;
}
.verde{
    background-color:rgb(117, 247, 84);
}
.rojo{
    background-color: rgb(248, 73, 73);
}
.cuerpo{
    background-image: url("https://zemper.com/coatzem/uploads/2016/10/fondo-blanco.jpg");
}